:root {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --header-height: 10px;
}

/* about section */

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.about-content {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  font-size:larger;
  margin-top: 50px;
}

.about-image {
  flex: 1;
  max-width: 50%;
  height: auto;
  padding-right: 2rem;
}

.about-text {
  flex: 1;
  max-width: 50%;
  padding-left: 2rem;
}

/* how to grading sheet */

.todo-grading-page {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  margin-top: var(--header-height, 64px);
}

.sidebar {
  position: sticky;
  top: calc(var(--header-height, 64px) + 3rem);
  height: fit-content;
  min-width: 250px;
  max-width: 300px;
  padding: 1rem;
  border-right: 1px solid #eaeaea;
}

.content {
  flex: 1;
  max-width: 1000px;
}

.content img {
  width: 100%;
}

.content-heading {
  scroll-margin-top: calc(var(--header-height, 64px) + 3rem);
}

.toc-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc-item {
  margin: 0.5rem 0;
}

.toc-item a {
  text-decoration: none;
  color:plum;
  transition: color 0.2s;
  display: block;
  padding: 0.25rem 0;
}

.toc-item a:hover {
  color:lightskyblue;
}

.level-2 {
  margin-left: 1rem;
}

.content h1,
.content h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.content {
  padding-bottom: 4rem;
}